<html>
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
        <title>Homepage</title>
    </head>
    <body>
        <a href="/localAttractions">Local Attractions</a>
        <form action="addReview" method="post">
            <h1>Write a review</h1>
            Name: * 
            <br>
            <input type="text" name="newReviewName" required placeholder="Please enter your name">
            <br>
            Title: * 
            <br>
            <input type="text" name="newReviewTitle" required placeholder="Please enter a title">
            <br>
            Review:
            <br>
            <textarea name="newReviewContent" placeholder="Please write your review" cols="25" rows="4" maxlength="100"></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
        {% for eachReview in reviewList %}
        <div>
            <p>
                {{eachReview[0]}}
                <br>
                By {{eachReview[1]}} on {{eachReview[2]}}
                <br>
                {{eachReview[3]}}
            </p>
        </div>
        {% endfor %}
    </body>
</html>